In [27]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [28]:

filepath = "/Users/emiliodulay/Documents/Programming/Student Success Classification/student-success/data/expulsion24.txt"
df = pd.read_csv(filepath, delimiter='\t')

''' 
File Structure: https://www.cde.ca.gov/ds/ad/fsed.asp 
'''

' \nFile Structure: https://www.cde.ca.gov/ds/ad/fsed.asp \n'

In [29]:
df.isnull().sum() # No missing values

AcademicYear                                                  0
AggregateLevel                                                0
CountyCode                                                    0
DistrictCode                                               3215
SchoolCode                                                 3215
CountyName                                                    0
DistrictName                                               3215
SchoolName                                                 3215
CharterYN                                                     0
ReportingCategory                                             0
CumulativeEnrollment                                          0
Total Expulsions                                              0
Unduplicated Count of Students Expelled (Total)               0
Unduplicated Count of Students Expelled (Defiance-Only)       0
Expulsion Rate (Total)                                        0
Expulsion Count Violent Incident (Injury)                     0
Expulsion Count Violent Incident (No Injury)                  0
Expulsion Count Weapons Possession                            0
Expulsion Count Illicit Drug-Related                          0
Expulsion Count Defiance-Only                                 0
Expulsion Count Other Reasons                                 0
dtype: int64

In [30]:
df.dtypes

AcademicYear                                                object
AggregateLevel                                              object
CountyCode                                                   int64
DistrictCode                                               float64
SchoolCode                                                 float64
CountyName                                                  object
DistrictName                                                object
SchoolName                                                  object
CharterYN                                                   object
ReportingCategory                                           object
CumulativeEnrollment                                        object
Total Expulsions                                            object
Unduplicated Count of Students Expelled (Total)             object
Unduplicated Count of Students Expelled (Defiance-Only)     object
Expulsion Rate (Total)                                      object
Expulsion Count Violent Incident (Injury)                   object
Expulsion Count Violent Incident (No Injury)                object
Expulsion Count Weapons Possession                          object
Expulsion Count Illicit Drug-Related                        object
Expulsion Count Defiance-Only                               object
Expulsion Count Other Reasons                               object
dtype: object

In [31]:
df.columns.tolist()

['AcademicYear',
 'AggregateLevel',
 'CountyCode',
 'DistrictCode',
 'SchoolCode',
 'CountyName',
 'DistrictName',
 'SchoolName',
 'CharterYN',
 'ReportingCategory',
 'CumulativeEnrollment',
 'Total Expulsions',
 'Unduplicated Count of Students Expelled (Total)',
 'Unduplicated Count of Students Expelled (Defiance-Only)',
 'Expulsion Rate (Total)',
 'Expulsion Count Violent Incident (Injury)',
 'Expulsion Count Violent Incident (No Injury)',
 'Expulsion Count Weapons Possession',
 'Expulsion Count Illicit Drug-Related',
 'Expulsion Count Defiance-Only',
 'Expulsion Count Other Reasons']

In [32]:
df.rename(columns={
    "ReportingCategory" : "Demographic",
    "CumulativeEnrollment" : "Enrollment Total",
    "Total Expulsions" : "Expulsions Total",
    "Unduplicated Count of Students Expelled (Total)" : "Unduplicated Expulsion Total",
    "Unduplicated Count of Students Expelled (Defiance-Only)" : "Unduplicated Defiance",
    "Expulsion Count Violent Incident (Injury)" : "Violent-Injury",
    "Expulsion Count Violent Incident (No Injury)" : "Violent-No Injury",
    "Expulsion Count Weapons Possession" : "Weapon Possession",
    "Expulsion Count Illicit Drug-Related" : "Drug",
    "Expulsion Count Defiance-Only" : "Defiance",
    "Expulsion Count Other Reasons" : "Other"
}, inplace = True)

In [33]:
# Cast to numeric type
cols = ["Enrollment Total", 
        "Expulsions Total",
        "Unduplicated Expulsion Total",
        "Unduplicated Defiance",
        "Expulsion Rate (Total)", 
        "Violent-Injury",
        "Violent-No Injury",
        "Weapon Possession",
        "Drug",
        "Defiance",
        "Other"]

df[cols] = df[cols].apply(pd.to_numeric, errors = 'coerce')

In [34]:
# Convert Charter Status to Numeric. No : 0, Yes : 1
df['CharterYN'] = df['CharterYN'].map({"No " : 0, 
                     "Yes" : 1})

In [35]:
df["AggregateLevel"] = df["AggregateLevel"].map({ "C" : "county",
                                                 "D" : "district",
                                                 "S" : "school",
                                                 "T" : "state"

                            })

In [36]:
df.head()

,AcademicYear,AggregateLevel,CountyCode,DistrictCode,SchoolCode,CountyName,DistrictName,SchoolName,CharterYN,Demographic,...,Expulsions Total,Unduplicated Expulsion Total,Unduplicated Defiance,Expulsion Rate (Total),Violent-Injury,Violent-No Injury,Weapon Possession,Drug,Defiance,Other
0,2023-24,county,1,NaN,NaN,Alameda,NaN,NaN,NaN,GF,...,26.0,25.0,0.0,0.0,18.0,7.0,0.0,0.0,0.0,1.0
1,2023-24,county,1,NaN,NaN,Alameda,NaN,NaN,NaN,GM,...,58.0,58.0,0.0,0.1,19.0,19.0,14.0,6.0,0.0,0.0
2,2023-24,county,1,NaN,NaN,Alameda,NaN,NaN,NaN,GX,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2023-24,county,1,NaN,NaN,Alameda,NaN,NaN,NaN,RA,...,4.0,4.0,0.0,0.0,3.0,0.0,1.0,0.0,0.0,0.0
4,2023-24,county,1,NaN,NaN,Alameda,NaN,NaN,NaN,RB,...,22.0,21.0,0.0,0.1,14.0,6.0,1.0,0.0,0.0,1.0

In [37]:
df["Demographic"] = df['Demographic'].map({"RB" : "African American",
                                            "RI" : "Native American",
                                            "RA" : "Asian",
                                            "RH" : "Latino",
                                            "RF" : "Filipino",
                                            "RD" : "Not Reported", 
                                            "RP" : "Pacific Islander",
                                            "RT" : "Multple",
                                            "RW" : "White",
                                            "GM" : "Male",
                                            "GF" : "Female",
                                            "GX" : "Non-Binary",
                                            "GZ" : "Missing Gender",
                                            "SE" : "English Learners",
                                            "SD" : "Disabilities",
                                            "SS" : "Socioecon Disad",
                                            "SM" : "Migraant",
                                            "SF" : "Foster",
                                            "SH" : "Homeless",
                                            "TA" : "Total"
                                            })

In [38]:
df.head()

,AcademicYear,AggregateLevel,CountyCode,DistrictCode,SchoolCode,CountyName,DistrictName,SchoolName,CharterYN,Demographic,...,Expulsions Total,Unduplicated Expulsion Total,Unduplicated Defiance,Expulsion Rate (Total),Violent-Injury,Violent-No Injury,Weapon Possession,Drug,Defiance,Other
0,2023-24,county,1,NaN,NaN,Alameda,NaN,NaN,NaN,Female,...,26.0,25.0,0.0,0.0,18.0,7.0,0.0,0.0,0.0,1.0
1,2023-24,county,1,NaN,NaN,Alameda,NaN,NaN,NaN,Male,...,58.0,58.0,0.0,0.1,19.0,19.0,14.0,6.0,0.0,0.0
2,2023-24,county,1,NaN,NaN,Alameda,NaN,NaN,NaN,Non-Binary,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2023-24,county,1,NaN,NaN,Alameda,NaN,NaN,NaN,Asian,...,4.0,4.0,0.0,0.0,3.0,0.0,1.0,0.0,0.0,0.0
4,2023-24,county,1,NaN,NaN,Alameda,NaN,NaN,NaN,African American,...,22.0,21.0,0.0,0.1,14.0,6.0,1.0,0.0,0.0,1.0

In [39]:
df.to_csv('expulsion.csv', index=False)