In [103]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [104]:
filepath = "/Users/emiliodulay/Documents/Programming/Student Success Classification/student-success/data/top5_counties.csv"
df = pd.read_csv(filepath)

In [105]:
df.head()

,AcademicYear,AggregateLevel,CountyCode,DistrictCode,SchoolCode,CountyName,DistrictName,SchoolName,CharterYN,Demographic,...,Expulsions Total,Unduplicated Expulsion Total,Unduplicated Defiance,Expulsion Rate (Total),Violent-Injury,Violent-No Injury,Weapon Possession,Drug,Defiance,Other
0,2023-24,county,19,NaN,NaN,Los Angeles,NaN,NaN,NaN,Female,...,96.0,96.0,0.0,0.0,39.0,32.0,6.0,16.0,0.0,3.0
1,2023-24,county,19,NaN,NaN,Los Angeles,NaN,NaN,NaN,Male,...,212.0,212.0,1.0,0.0,52.0,63.0,48.0,41.0,1.0,7.0
2,2023-24,county,19,NaN,NaN,Los Angeles,NaN,NaN,NaN,Non-Binary,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2023-24,county,19,NaN,NaN,Los Angeles,NaN,NaN,NaN,Asian,...,4.0,4.0,0.0,0.0,0.0,3.0,0.0,1.0,0.0,0.0
4,2023-24,county,19,NaN,NaN,Los Angeles,NaN,NaN,NaN,African American,...,73.0,73.0,0.0,0.1,26.0,31.0,11.0,1.0,0.0,4.0

In [106]:
df.columns

Index(['AcademicYear', 'AggregateLevel', 'CountyCode', 'DistrictCode',
       'SchoolCode', 'CountyName', 'DistrictName', 'SchoolName', 'CharterYN',
       'Demographic', 'Enrollment Total', 'Expulsions Total',
       'Unduplicated Expulsion Total', 'Unduplicated Defiance',
       'Expulsion Rate (Total)', 'Violent-Injury', 'Violent-No Injury',
       'Weapon Possession', 'Drug', 'Defiance', 'Other'],
      dtype='object')

In [107]:
df = df.drop(["AcademicYear", "DistrictName", "SchoolName"], axis = 1)

In [108]:
df.head()

,AggregateLevel,CountyCode,DistrictCode,SchoolCode,CountyName,CharterYN,Demographic,Enrollment Total,Expulsions Total,Unduplicated Expulsion Total,Unduplicated Defiance,Expulsion Rate (Total),Violent-Injury,Violent-No Injury,Weapon Possession,Drug,Defiance,Other
0,county,19,NaN,NaN,Los Angeles,NaN,Female,654689.0,96.0,96.0,0.0,0.0,39.0,32.0,6.0,16.0,0.0,3.0
1,county,19,NaN,NaN,Los Angeles,NaN,Male,695578.0,212.0,212.0,1.0,0.0,52.0,63.0,48.0,41.0,1.0,7.0
2,county,19,NaN,NaN,Los Angeles,NaN,Non-Binary,859.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,county,19,NaN,NaN,Los Angeles,NaN,Asian,107790.0,4.0,4.0,0.0,0.0,0.0,3.0,0.0,1.0,0.0,0.0
4,county,19,NaN,NaN,Los Angeles,NaN,African American,94686.0,73.0,73.0,0.0,0.1,26.0,31.0,11.0,1.0,0.0,4.0

In [109]:
# Need to subset demogrpahic "Total"
df = df[df["Demographic"] != "Total"].reset_index(drop = True)

In [110]:
df.head()

,AggregateLevel,CountyCode,DistrictCode,SchoolCode,CountyName,CharterYN,Demographic,Enrollment Total,Expulsions Total,Unduplicated Expulsion Total,Unduplicated Defiance,Expulsion Rate (Total),Violent-Injury,Violent-No Injury,Weapon Possession,Drug,Defiance,Other
0,county,19,NaN,NaN,Los Angeles,NaN,Female,654689.0,96.0,96.0,0.0,0.0,39.0,32.0,6.0,16.0,0.0,3.0
1,county,19,NaN,NaN,Los Angeles,NaN,Male,695578.0,212.0,212.0,1.0,0.0,52.0,63.0,48.0,41.0,1.0,7.0
2,county,19,NaN,NaN,Los Angeles,NaN,Non-Binary,859.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,county,19,NaN,NaN,Los Angeles,NaN,Asian,107790.0,4.0,4.0,0.0,0.0,0.0,3.0,0.0,1.0,0.0,0.0
4,county,19,NaN,NaN,Los Angeles,NaN,African American,94686.0,73.0,73.0,0.0,0.1,26.0,31.0,11.0,1.0,0.0,4.0

In [111]:
# one-hot encode demographic
df = pd.get_dummies(df, 
                    columns = ["Demographic"],
                    prefix = "",
                    prefix_sep = "",
                    dtype = int)

In [112]:
df.head()

,AggregateLevel,CountyCode,DistrictCode,SchoolCode,CountyName,CharterYN,Enrollment Total,Expulsions Total,Unduplicated Expulsion Total,Unduplicated Defiance,...,Male,Migraant,Missing Gender,Multple,Native American,Non-Binary,Not Reported,Pacific Islander,Socioecon Disad,White
0,county,19,NaN,NaN,Los Angeles,NaN,654689.0,96.0,96.0,0.0,...,0,0,0,0,0,0,0,0,0,0
1,county,19,NaN,NaN,Los Angeles,NaN,695578.0,212.0,212.0,1.0,...,1,0,0,0,0,0,0,0,0,0
2,county,19,NaN,NaN,Los Angeles,NaN,859.0,0.0,0.0,0.0,...,0,0,0,0,0,1,0,0,0,0
3,county,19,NaN,NaN,Los Angeles,NaN,107790.0,4.0,4.0,0.0,...,0,0,0,0,0,0,0,0,0,0
4,county,19,NaN,NaN,Los Angeles,NaN,94686.0,73.0,73.0,0.0,...,0,0,0,0,0,0,0,0,0,0

In [113]:
# one-hot encode AggregateLevel
df = pd.get_dummies(df,
                    columns = ["AggregateLevel"],
                    prefix = "is",
                    prefix_sep = "_",
                    dtype = int)

In [114]:
df.head()

,CountyCode,DistrictCode,SchoolCode,CountyName,CharterYN,Enrollment Total,Expulsions Total,Unduplicated Expulsion Total,Unduplicated Defiance,Expulsion Rate (Total),...,Multple,Native American,Non-Binary,Not Reported,Pacific Islander,Socioecon Disad,White,is_county,is_district,is_school
0,19,NaN,NaN,Los Angeles,NaN,654689.0,96.0,96.0,0.0,0.0,...,0,0,0,0,0,0,0,1,0,0
1,19,NaN,NaN,Los Angeles,NaN,695578.0,212.0,212.0,1.0,0.0,...,0,0,0,0,0,0,0,1,0,0
2,19,NaN,NaN,Los Angeles,NaN,859.0,0.0,0.0,0.0,0.0,...,0,0,1,0,0,0,0,1,0,0
3,19,NaN,NaN,Los Angeles,NaN,107790.0,4.0,4.0,0.0,0.0,...,0,0,0,0,0,0,0,1,0,0
4,19,NaN,NaN,Los Angeles,NaN,94686.0,73.0,73.0,0.0,0.1,...,0,0,0,0,0,0,0,1,0,0

In [115]:
df.to_csv("top5_counties_feature.csv", index = False)